.hh{
  font-size: 2em;
  font-weight: 700;
  margin-right: 2em;
color: aliceblue;
}
.pp{
  color: aliceblue;
}
.brnds{
  background-image: url('https://img.freepik.com/free-photo/male-electrician-overalls-focused-work-switchboard-with-fuses-using-tablet_169016-66764.jpg?t=st=1741696255~exp=1741699855~hmac=8302e380355bd2ba56bd5284d1310e2be17d7502f1199263fd86238175c3024d&w=1380');
}

.ab{
  padding-top: 7rem;
}
.abt{
  color: aliceblue;
}